body{
    text-align: center;
}
#myNavbar{
    display: inline;
    font-size: 18px;
    color: black;
}

links:hover{
    background-color:antiquewhite;
}
#contact, #details, .contact1{
    text-align: left;
}
