body {
    background-color: aqua;
    text-align: center;
}
#img1{
   height: 250px;
   width:150px;
}
#img2{
   height: 250px;
   width:150px;
}
#img3{
   height: 250px;
   width:150px;
}
#img4{
   height: 250px;
   width:150px;
}
